* {
    padding: 0;
    margin: 0;
}

#bg {
    background-size: cover;
}

body {
    height: 100%;
}

/************* Landing Page **************/

.section-top {
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("/static/image/compass-map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0%
    {
        background-image: url("/static/image/airplane1.jpg");
    }
    20%
    {
        background-image: url("/static/image/oceanwave.jpg");
    }
    40%
    {
        background-image: url("/static/image/compass-map.jpg");
    }
    60%
    {
        background-image: url("/static/image/backdrop-unsplash.jpg");
    }
    80%
    {
        background-image: url("/static/image/desert.jpg");
    }
    100%
    {
        background-image: url("/static/image/palmtree.jpg");
    }
}

.adventure-awaits {
    font-size: 100px;
}
.landing-pad {
    padding: 20% 0;
}

/************* Login Page **************/

.login-form {
    width: 320px;
    height: 400px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(80,162,176);
    opacity: .9;
}

#button-color {
    background-color: rgb(31,55,39);
    color: white;
}

/************* Register Page **************/


.register-form {
    width: 320px;
    height: 550px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(80,162,176);
    opacity: .9;
}

/************* Guest Dashboard Page **************/



/************* User Dashboard Page **************/

.user-navbar {
    padding: 5px;
}

.user-dashboard {
    padding-left: 20px;
}

.bucket-list-table {
    color: white;
    border: 1px solid white;
    width: 600px;
    height: 100%;
}

/************* Add Location **************/

.add-table {
    padding-left: 20px;
}

.add-location-form {
    /* margin-top: 5%; */
    /* margin-left: 10px; */
    border: 1px solid white;
    padding: 20px;
    width: 400px;
    height: 500px;
    color: white;
    overflow: scroll;
}

#plus-btn {
    background-color: gray;
    color: white;
    height: 10px;
    width: 10px;

}

/************* Plan A Trip **************/