* {
    padding: 0;
    margin: 0;
}

#bg {
    background-size: cover;
}

body {
    height: 100%;
}

/************* Landing Page **************/

.section-top {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("/static/image/compass-map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0%
    {
        background-image: url("/static/image/airplane1.jpg");
    }
    20%
    {
        background-image: url("/static/image/oceanwave.jpg");
    }
    40%
    {
        background-image: url("/static/image/compass-map.jpg");
    }
    60%
    {
        background-image: url("/static/image/backdrop-unsplash.jpg");
    }
    80%
    {
        background-image: url("/static/image/desert.jpg");
    }
    100%
    {
        background-image: url("/static/image/palmtree.jpg");
    }
}

.adventure-awaits {
    font-size: 100px;
}

.landing-pad {
    padding: 20% 0;
}

/************* Login Page **************/

.login-form {
    width: 320px;
    height: 400px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(80,162,176);
    border-radius: 10px;
    opacity: .9;
}

#button-color {
    background-color: rgb(31,55,39);
    color: white;
}

/************* Register Page **************/


.register-form {
    width: 320px;
    height: 550px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(80,162,176);
    border-radius: 10px;
    opacity: .9;
}

/************* Guest Dashboard Page **************/



/************* User Dashboard Page **************/

.user-navbar {
    padding: 5px;
}

.bucket-list-table {
    color: white;
    width: 600px;
}

.bucket-list-table thead tr {
    padding: 5px;
    font-size: 1.2em;
    
}

.bucket-list-table th {
    padding: 10px 10px;
}

.loc-link {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.attr-pad {
    padding: 0 10px;
}

/******************************** GOOGLE MAP ******************************/

#map {
    height:500px;
    width: 600px;
    border-radius: 50%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
    display: ;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  

/************* Add Location **************/

.add-table {
    padding-left: 50px;
}

.add-location-form {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    color: white;

}

#plus-btn {
    background-color: gray;
    color: white;
    height: 10px;
    width: 10px;
}

/************* Update Location **************/

.update-location-form {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 50%;
    color: white;
}

#loc_delete_btn {
    text-decoration: none;
    color: red;
    height: 20px;
    width: 30px;
    padding-bottom: 24px;
    border: 1px solid white;
    text-align: center;
}

/************* Plan A Trip **************/